
body {
  font-family: Avenir,sans-serif;
  color: #333;
  font-size: 16px;
}
h1, h2 {
  font-weight: 900;
}
p {
  color: #666;
  font-weight: lighter;
}
div {
  /*border: 1px solid black;*/
}
header , footer {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
}

.logo-banner{
  height: 32px;
  display: flex;
  align-items: center;
  background-color: white
}

a {
  text-decoration-line: none;
}
ul a  {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  display: flex;
  color: #666 ;
  padding-right: 24px;
}

li {
  margin: 8px;
}

.truncated-menu {
  display: none;
}


.top-hero {
  background-color: #CCC;
  display: flex;
}

.main-banner img {
  width:90%;
  padding: 32px 24px;
}

.main-banner {
  width: 60%;
}
 .banner-message {
   color: #333;
  display: flex;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;

}

.banner-message button {
  background-color: #333;
  padding: 8px;
  color: white;
  width: 80%;
  font-size: medium;
}

.main-stories {
  display: flex;
}
.main-story {
  width: 60%;
  display: flex;
  flex-direction: column;

}
h2.main-story-headline {
  font-weight: 600;
}
.main-story img, .story-text {
  width:90%;
  padding: 16px 24px;
}
.main-story video {
  width:90%;
  padding: 0px 24px;
}


.side-story {
  display: flex;
}
.side-stories {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.side-stories .featured {
  background-color: #d8d8d8;
}

.side-story-image {
  width: 35%;
}

.side-story-image-mobile {
  display:none;
}

.side-story-image img{
  width:90%;
  padding: 16px;

}
.side-story-message {
  width: 65%;
  padding-left: 16px;
  align-self: center;
}




.learning {
  background-color: #eaebec;
  display: flex;
  flex-direction: column;
}

.section-heading {
  margin-top: 32px;
  text-align: center;
  vertical-align: middle;
}

.learning-classes {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 32px 72px;
}

.learning-class {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: auto;
  margin: 16px;
}

.learning-class img {
  width: 100%;
}
.bottom-section {
  background-color: white;
  display: flex;

}

footer {
  border-top: 1px solid #333;
  font-size .75em;
}

@media only screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
  nav ul.truncated-menu {
    display: flex;
  }
  .top-hero {
    flex-direction:column;
    align-items: center;
    padding-bottom: 32px;
  }
  .main-banner {
    width:100%;
  }
  .main-banner img {
    padding: 0px;
    width: 100%;
  }
  .banner-message {
    max-width: 100%;
  }
  .banner-message button {
    width: 100%;
    margin-top: 24px 16px 32px 16px;
  }
  .main-stories .main-story {
    display: none;
  }
  .side-story {
    flex-direction: column;
  }
  .side-stories {
    width: 100%;
  }
  .story-text {
    padding: 16px 0px 24px 16px ;
  }
  .side-story-image {
    display:none;
  }
  .side-story-image-mobile {
    display: flex;
    width: 100%;
  }
  .side-story-image img{
    padding: 0px;
    margin: 16px;
    width: 100%;
  }
  .side-stories .featured {
    background-color: inherit;
  }
  .learning {
    background-color: inherit;
  }
  .learning-classes {
    flex-flow: column;
  }
  .learning-classes img , .learning-classes p {
    display: none;
  }
  .learning-classes h3 {

  }
  .learning-class {
    background-color: #CCC;
    max-width: none;
  }

  .bottom-section .side-stories, .bottom-section .story-text {
    display: none;
  }
  .bottom-section .main-story {
    /*display: block;*/
    width: 100%;

  }
  footer ul {
    display: none;
  }
  footer {
    border-top : none;
  }
}
